# See documentation for this workflow here:
# https://github.com/lsegal/github-release-from-changelog-action

name: "Create Release"

on:
  push:
    tags:
      - "v*"
jobs:
  get_changelog:
    id: changelog
    uses: jaywcjlove/changelog-generator@main
    with:
      token: ${{ secrets.GITHUB_TOKEN }}

  release_version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            ${{ steps.changelog.outputs.compareurl }}
            ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: false
