# See documentation for this workflow here:
# https://github.com/lsegal/github-release-from-changelog-action

name: "Create Release"

on:
  push:
    tags:
      - "v*"
jobs:
  release_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Generate GitHub Release
        uses: Roang-zero1/github-create-release-action@master
        with:
          created_tag: ${GITHUB_REF#refs/*/}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
